<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >  
<suite name="SuiteAll" verbose="1">
    <test name="TestAll">  
        <packages>  
            <package name="com.github.lindenb.jvarkit.util"/>
            <package name="com.github.lindenb.jvarkit.util.bio.fasta"/>
            <package name="com.github.lindenb.jvarkit.util.so"/>
            <package name="com.github.lindenb.jvarkit.util.vcf"/>
            <package name="com.github.lindenb.jvarkit.util.picard"/>
            <package name="com.github.lindenb.jvarkit.util.iterator"/>
            <package name="com.github.lindenb.jvarkit.tools.bamstats04"/>
            <package name="com.github.lindenb.jvarkit.tools.bam2xml"/>
            <package name="com.github.lindenb.jvarkit.tools.bam2graphics"/>
            <package name="com.github.lindenb.jvarkit.tools.bioalcidae"/>
            <package name="com.github.lindenb.jvarkit.tools.biostar"/>
            <package name="com.github.lindenb.jvarkit.tools.cmpbams"/>
            <package name="com.github.lindenb.jvarkit.tools.ensembl"/>
            <package name="com.github.lindenb.jvarkit.tools.genbank"/>
            <package name="com.github.lindenb.jvarkit.tools.ngsfiles"/>
            <package name="com.github.lindenb.jvarkit.tools.pubmed"/>
            <package name="com.github.lindenb.jvarkit.tools.sam2tsv"/>
            <package name="com.github.lindenb.jvarkit.tools.sam4weblogo"/>
            <package name="com.github.lindenb.jvarkit.tools.samfixcigar"/>
            <package name="com.github.lindenb.jvarkit.tools.samjs"/>
            <package name="com.github.lindenb.jvarkit.tools.misc"/>
            <package name="com.github.lindenb.jvarkit.tools.vcfcmp"/>
            <package name="com.github.lindenb.jvarkit.tools.vcfstats"/>
            <package name="com.github.lindenb.jvarkit.tools.vcftrios"/>
        </packages>  
    </test>  
</suite>
